a:link{
    color:#3C3C3C!important;
}
a:visited{
    color:#3C3C3C!important;
}
body,body :not(iframe){
    background-color:#000000!important;
    border-color:#b1b1b1!important;
    color:#fff!important;
    font-family: 'Hack';
}
